<div class="padding-global">
    <div class="container-large">
        <div class="padding-section-medium">
            <div class="section_headline">
                <h2 option:text="Headline" class="heading-style-h2">Other Articles</h2>
            </div>
            <div class="blog_list">
                <div
                    li-assign="currentArticle = article.title"
                    id="w-node-cdece5f1-2944-1e49-7404-5f9ab06dde1d-f1524a33"
                    class="hide"
                ></div>
                {% for article in blog.articles %}
                    <div li-for="article in blog.articles">
                        {% if article.title != currentArticle %}
                            <div li-if="article.title != currentArticle">
                                <a
                                    li-object:href="article.url"
                                    href="{{ article.url }}"
                                    class="blog_item-grid w-inline-block"
                                >
                                    <div
                                        id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7be-4b06a7bd"
                                        class="blog_tags-wrapper"
                                    >
                                        <img
                                            src="{{ article.image | img_url: 'master' }}"
                                            loading="lazy"
                                            id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7bf-4b06a7bd"
                                            li-object:src="article.image | img_url: 'master'"
                                            alt="{{ article.image.alt }}"
                                            li-object:alt="article.image.alt"
                                            class="blog_img"
                                        >
                                        <div class="blog_tags">
                                            {% for tags in article.tags %}
                                                <div li-for="tags in article.tags" class="hide">
                                                    <div li-object="tag" class="blog_tag">
                                                        {{ tag }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div
                                        id="w-node-_6b97875b-5fce-9f5a-43fd-5792b69faf23-4b06a7bd"
                                        class="spacer-small"
                                    ></div>
                                    <div class="blog_info-wrapper">
                                        <h3 li-object="article.title" class="heading-style-h3">
                                            {{ article.title }}
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "tag": "section",
    "name": "article_next",
    "class": "section_weitere-links",
    "settings": [],
    "presets": [{ "name": "article_next", "category": "Liquify" }]
}
{% endschema %}
